
.dashboard-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 83px - 64px); 
    align-items: center;
    gap: 32px; 
}

.dashboard-image-panel {
    flex: 1.0; 
    height: 100%;
    display: flex;
}

.dashboard-image-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.dashboard-content-panel {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}