/* File: src/pages/Manager/LocationManagement/LocationManagement.css*/

.location-form-container {
    max-width: 1203px; 
    margin: auto;
    padding: 48px; 
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

